body {
    padding-top: 0px; /* Add padding to the body to accommodate the fixed navbar */
}

.navbar {
    background-color: #5271FF;
    padding: 0 0; /* Slightly reduce padding for a sleeker look */
}

.navbar-brand {
    font-size: 0.5rem; /* Increase the font size of the logo */
    color: #5271FF;
}


.navbar-nav .nav-link {
    color: #5271FF !important;
    font-size: 16px;
    margin-right: 15px;
    transition: color 0.3s; /* Add smooth transition effect */
}

.navbar-nav .nav-link:hover {
    color: #3342FF !important; /* Darken the color on hover */
}

.navbar-nav .dropdown-menu {
    background-color: #5271FF;
}

.navbar-nav .dropdown-item {
    color: #fff !important;
    transition: color 0.3s, background-color 0.3s; /* Add smooth transition effect */
}

.navbar-nav .dropdown-item:hover {
    color: #5271FF !important; /* Invert text color on hover */
    background-color: #3342FF; /* Darken the background on hover */
}

/* Set text color to #5271FF when dropdown is open */
.navbar-nav .nav-item.show .nav-link {
    color: #5271FF !important;
}

.navbar-form {
    margin-left: auto;
}

.navbar-form input {
    background-color: #f5f5f5;
    color: #5271FF !important;
    border: 1px solid #5271FF; /* Add a subtle border to the search input */
    border-radius: 4px; /* Add rounded corners to the search input */
    transition: border-color 0.3s, box-shadow 0.3s; /* Add smooth transition effect */
}

.navbar-form input:hover {
    border-color: #5271FF; /* Change border color on hover */
    box-shadow: 0 0 5px rgba(82, 130, 255, 0.5); /* Add a subtle shadow on hover */
}

.navbar-form button {
    background-color: #5271FF;
    color: #f5f5f5;
    border: 1px solid #5271FF; /* Add a subtle border to the search button */
    border-radius: 4px; /* Add rounded corners to the search button */
    transition: background-color 0.3s; /* Add smooth transition effect */
}

.navbar-form button:hover {
    background-color: #f5f5f5;
    color: #f5f5f5; /* Darken the background on hover */
}

/* Add a subtle shadow to the navbar for a modern look */
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link:hover{
    color:#f5f5f5;
}
