{% extends 'base.html' %}

{% load static %}

{% block main %}


    <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ConnectFiesta</title>

</head>

<body>

<h1>Empowering Communities <br>
    through Seamless Events</h1>

<br><br>

<h2>Your gateway to Seamless Event Experiences</h2>


<br><br>

<p>Welcome to ConnectFiesta, the ultimate platform where event creation meets simplicity. <br><br>
    Empowering organizers with easy management tools and attendees with seamless event discovery, <br><br>
    ConnectFiesta is your gateway to vibrant community engagement. Join us in fostering connections <br><br>
    and celebrating local initiatives with ease!</p>
</body>

</html>

{% endblock %}

